services:
  postgres:
    image: postgres:18.1
    container_name: keralavotes-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: keralavotes_prod
      POSTGRES_USER: keralavotes_prod_user
      POSTGRES_PASSWORD: keralavotes_prod_user
      PGDATA: /var/lib/postgresql/18/docker
    volumes:
      - keralavotes_pgdata:/var/lib/postgresql/18/docker
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keralavotes_prod_user -d keralavotes_prod"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - backend
      
  spring-api:
    build: ./TrackerService
    container_name: spring-api
    environment:
      SPRING_PROFILES_ACTIVE: prod
      
      # DB connection (Docker-to-Docker)
      DB_HOST: host.docker.internal
      DB_PORT: 5432
      DB_NAME: keralavotes_prod
      DB_USER: keralavotes_prod_user
      DB_PASS: keralavotes_prod_user
    ports:
      - "8080:8080"
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  poster-service:
    build: ../LBComparePosterGenerator/backend
    container_name: poster-service
    ports:
      - "4000:4000"
    networks:
      - backend

  next-ui:
    build:
      context: ./tracker-admin
    container_name: next-ui
    depends_on:
      - spring-api
    ports:
      - "3333:3333"
    environment:
      NEXT_PUBLIC_ENV: docker
      NEXT_PUBLIC_API_BASE: http://localhost:3333
      NEXT_BACKEND_API_BASE: http://spring-api:8080/api
      NEXT_PUBLIC_POSTER_BASE: http://poster-service:4000
      ADMIN_USER: centerrightin
      ADMIN_PASS: IdleBunny@4132
      JWT_SECRET: cbc4ea367dbbd0345e1bb5fb95de28955fd43e6a6e6508f7406b72114f50b199a852cdcb71e21c4145e6672f6fbc112be835f217629327b7cf3186713e1185ee
      JWT_EXP_SECONDS: 3600
    networks:
      - backend
      
volumes:
  keralavotes_pgdata:
  
networks:
  backend:
    driver: bridge
