version: "3.9"

services:

  spring-api:
    build: ./TrackerService
    container_name: spring-api
    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: host.docker.internal
      DB_NAME: keralavotes_prod
      DB_USER: keralavotes_prod_user
      DB_PASS: keralavotes_prod_user
    ports:
      - "8080:8080"
    networks:
      - backend
    extra_hosts:
      - "host.docker.internal:host-gateway"

  poster-service:
    build: ../LBComparePosterGenerator/backend
    container_name: poster-service
    ports:
      - "4000:4000"
    networks:
      - backend

  next-ui:
    build:
      context: ./tracker-admin
      args:
        NEXT_PUBLIC_ENV: prod
        NEXT_PUBLIC_API_BASE: http://localhost:8080/api
        NEXT_PUBLIC_POSTER_BASE: http://localhost:4000
    container_name: next-ui
    depends_on:
      - spring-api
    ports:
      - "3333:3333"
    networks:
      - backend
      
networks:
  backend:
    driver: bridge

