spring:
  config:
    activate:
      on-profile: prod

  server:
    port: ${PORT:8080}

  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate.format_sql: true
      hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
  mongodb:
    uri: mongodb://appuser:apppassword@localhost:27017/keralavotes?authSource=keralavotes
    database: keralavotes
    authentication-database: keralavotes

#  web:
#    cors:
#      allowed-origins: "http://localhost:3333, https://kerala-votes.vercel.app, https://keralaelects.onrender.com"
#      allowed-methods: "*"
#      allowed-headers: "*"
#      allow-credentials: true

logging:
  level:
    root: INFO
    com.keralavotes: DEBUG
  file:
    name: logs/keralavotes.log