spring:
  application:
    name: TrackerService

  server:
    port: 8080

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  datasource:
    url: jdbc:postgresql://localhost:5432/keralavotes
    username: keralavotes
    password: keralavotes
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate.format_sql: true

  web:
    cors:
      allowed-origins: "http://localhost:3333"
      allowed-methods: "*"
      allowed-headers: "*"
      allow-credentials: true